$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

.container {
    position: relative;
    margin: 35px auto 0;
    width: 300px;
    height: 534px;
    background-color: $ice;
    overflow: hidden;
}

/* Toggle function */
// to hide the checkbox
#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
}

#toggle:focus {
    &~.toggleContainer .buttonToggle {
        box-shadow: 0 0 0 8px $seaGreen, inset 0 0 0 20px $seaGreen;
    }
}

// styles for the "open" state, if the checkbox is checked
#toggle:checked {

    // making the "X" icon using ":before" and ":after" pseudo elements
    &~.toggleContainer .buttonToggle {
        box-shadow: 0 0 0 550px $seaGreen, inset 0 0 0 20px $seaGreen;

        &:hover {
            box-shadow: 0 0 0 550px $seaGreen, inset 0 0 0 20px $seaGreen, 0 0 0 8px $seaGreen, inset 0 0 0 20px $seaGreen;
        }

        &:before {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }

        &:after {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }
    }

    &:focus~.toggleContainer .buttonToggle {
        box-shadow: 0 0 0 550px $seaGreen, inset 0 0 0 20px $seaGreen, 0 0 0 8px $seaGreen, inset 0 0 0 20px $seaGreen;
    }

    // open hiddenNav
    &~.hiddenNav {
        margin-bottom: 100px;
        pointer-events: auto;
        transform: translate(50px, 50px);

        // restore hiddenNav items from "lines" in the menu icon
        .navItem {
            color: $black;
            letter-spacing: 0;
            height: 40px;
            line-height: 40px;
            margin-top: 0;
            opacity: 1;
            transform: scaleY(1);
            transition: 0.5s, opacity 0.1s;

            // set delays for the navItems in open transition @for $i from 1 through $items {
            &:nth-child(#{$i}) {
                $delay: ($items -$i) * $transition-delay;
                transition-delay: $delay;

                &:before {
                    transition-delay: $delay;
                }
            }
        }

        // hiding the lines
        &:before {

            //adjusting width for the first line
            &:nth-child(1) {
                letter-spacing: -8px;
            }

            //adjusting width for the second line
            &:nth-child(2) {
                letter-spacing: -7px;
            }

            //adjusting from the fourth element onwards
            &:nth-child(n + 4) {
                letter-spacing: -8px;
                margin-top: -7px;
                opacity: 0;
            }

            //getting the lines for the hamburger menu icon
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $canary;
                transform: translateY(-50%) scaleY(5);
                transition: 0.5s;
            }
        }
    }
}