.blogRight {
    width: 60%;
    margin-left: 2.5%;
}

.blogRightImg {
    width: 100%;
    height: 450px;
    background-image: url("../assets/blog-post-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 20px solid $canary;
    border-bottom: 20px solid $canary;
}

.findingLocations {
    border-left: 5px solid $canary;
    border-bottom: 5px solid $canary;
    padding-left: 5%;
}

.comments {
    padding-left: 5%;
    margin: 20px 0;
}

.comment1,
.comment2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.comment1 img,
.comment2 img {
    width: 15%;
    object-fit: contain;
}

.commentText {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.commentText p {
    margin-top: 0;
}
