.blogLeft {
    width: 30%;
    margin-right: 2.5%;
    margin-top: 15%;
}

.blogLeftImg {
    width: 100%;
    height: 300px;
    background-color: $white;
    position: relative;
    
    // background-color: $white;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.blogLeftImg Img {
    transform: scale3d(125%, 110%, 100%,);
    position: absolute;
    left: -21%;
    bottom: 5%;
}

.blogLeftText {
    background-color: $white;
    padding: 10% 2.5%;
}

.aboutCaptured,
.recentPosts {
    padding: 20px 0;
}

.recentPosts li {
    list-style: disc inside;
    color: $seaGreen;
}

.recentPosts h4 {
    padding-bottom: 20px;
}
span {
    color: $black;
}


