.blogLeft {
    width: 35%;
    border: 2px solid red;
}

.blogLeftImg {
    width: 100%;
    min-height: 300px;
    background-image: url("../assets/side-blog-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blogLeftText {
    background-color: $white;
    padding: 0 5%;
}

.aboutCaptured,
.recentPosts {
    padding: 20px 0;
}

.recentPosts li {
    list-style: disc inside;
    color: $seaGreen;
}

.recentPosts h4 {
    padding-bottom: 20px;
}
span {
    color: $black;
}


