.blogHeader {
    background-image: url("../assets/blog-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.blogHeader .navBar {
    width: 50%;
    margin-bottom: 100px;
}