.blogHeader {
    background-image: url("../assets/blog-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.blogHeader .navBar {
    max-width: 50%;
}