.contactHeader {
    background-image: url(../assets/contact-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.contactWrapper {
    display: flex;
}

.address {
    width: 30%;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 30px 0;
}
.fa {
    width: 20px;
    height: 20px;
}

.fa img {
    max-width: 20px;
    max-height: 20px;
}
.formContainer {
    width: 70%;
    background-color: $white;
    transform: translateY(-45%);
    box-shadow: -30px 30px $canary;
    padding: 50px;
}


