header {
    background-image: url("../assets/header-image.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.headerBoxImg {
    width: 50%;
    height: 100vh;
    border-left: 20px solid $canary;
    border-top: 40px solid $canary;
    border-bottom: 40px solid $canary;
    background-image: url("../assets/header-box-image.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;    
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 500px 0;
}



