header .headingFont,
.blogHeader .headingFont,
.contactHeader .headingFont {
    display: flex;
    justify-content: flex-end;
}

.headingFont .navBar,
.blogHeader .navBar,
.contactHeader .navBar {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 30px 0 200px;
}

.navBar a {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    text-align: center;
    transition: 0.2s;
    &:hover, &:focus, &:active {
        border-bottom: 2px solid $seaGreen;
    }
}
