.script {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px 0 100px;
}

.unlockYourSkills,
.gettingNewGear {
    background-color: $white;
    padding: 5% 0;
}

.unlockYourSkills .wrapper,
.gettingNewGear .wrapper {
    display: flex;
    justify-content: space-between;
}

.unlockYourSkills .textContainer,
.gettingNewGear .textContainer {
    width: 45%;
}

.gettingNewGear .textContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.emptyImg {
    width: 45%;
    height: calc(25vw * 75 / 100);
    background-color: $white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.leftImg {
    background-image: url("../assets/left-image.jpg");
    box-shadow: 20px 20px $canary;
    transform: scale3d(1.4, 1.4, 1.4,) translateX(-20%) translateY(-10%);
    
}

.rightImg {
    background-image: url("../assets/right-image.jpg");
    box-shadow: -20px 20px $canary;
    transform: scale3d(1.4, 1.4, 1.4,) translateX(20%) translateY(20%);
    
}

.social {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}

.topPicks, 
.community,
.blog,
.getInTouch {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.fontAwesome {
    background-color: $seaGreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    transition: 0.2s;
    &:hover, &:focus {
        background-color: $black;
        color: $seaGreen;
        transform: scale3d(1.5, 1.5, 1.5,);
    }
}

.banner {
    width: 100vw;
    height: 400px;
    background-image: url("../assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thisMonthProfile .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.smallBox {
    width: 30%;
    background-image: url("../assets/small-box.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 20px 20px $canary;
}

.textContainer {
    width: 65%;
}

.gallery {
    width: 100%;
    background-color: $white;
    padding: 100px 0;
}

.gallery .wrapper {
    display: flex;
    justify-content: space-between;
}

.galleryImg {
    display: inline-block;
    max-width: 30%;
}











