
.navContainer,
.blogHeader .navContainer,
.contactHeader .navContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 10px;
    background-color: transparent;
    z-index: 20;
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .menuButton .fa-x {
        position: absolute;
        top: 20px;
        left: -20px;
        opacity: 0;
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:checked ~ {
            .slideOutNav {
                right: 0;
            }
            .menuButton .fa-bars {
                opacity: 0;
                transition: 0.3s;
            }
            .menuButton .fa-x {
                opacity: 1;
                left: 0;
                transition: 0.3s 0.2s;
            }
        }     
    }
}

.navContainer .slideOutNav {
    background-color: $ice;
    position: fixed;
    top: 0;
    right: -300px;
    height: 300px;
    width: 100%;
    max-width: 275px;
    padding: 30px 50px;
    transition: 1s;
}

.hiddenMenu {
    a {
        font-family: $allOtherFont;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        line-height: 2.5rem;
        color: $black;
        text-transform: uppercase;
        transition: 0.2s;
        &:hover, &:focus {
            color: $seaGreen;
        }
    }
}
