// Import Font Families
@font-face {
    font-family: "PlayfairDisplay";
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
}

@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    background-color: $ice;
    overflow-x: hidden;
}

h1, h2, h3, h4, .headingFont {
    font-family: $allOtherFont;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 6.5rem;
    text-align: center;
    padding-top: 150px;
    position: absolute;
    left: 20%; //maybe there is better ways to center the h1
    z-index: 10;
}
h2 {
    font-size: 4rem;
    text-align: center;
}
h3 {
    font-size: 2.1rem;
}
h4 {
    font-size: 1.6rem;
}

ul,
li,
a,
input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: $bodyFont;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.readMore,
.findOutMore {
    background-color: $seaGreen;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    padding: 18px 36px;
    &:hover, &:focus {
        background-color: $white;
        color: $seaGreen;
        border: 1px solid $seaGreen;
    }
}

button {
    background-color: $seaGreen;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    padding: 18px 36px;
    &:hover, &:focus {
        background-color: $white;
        color: $seaGreen;
        border: 1px solid $seaGreen;
    }
}
