// Font Family
$allOtherFont: "PlayfairDisplay";
$bodyFont: "Roboto";

//Font Sizes
$baseFontSize: 1rem;

// Colors (background)
$canary: #fdfa69;
$seaGreen: #4ceea7;
$black: #2c2c2c;
$white: #fafafa;
$ice: #effdf3;