// Font Family
$allOtherFont: "Playfair Display",
serif;
$bodyFont: "Roboto", sans-serif;

//Font Sizes
$baseFontSize: 1rem;

// Colors
$canary: #fdfa69;
$seaGreen: #4ceea7;
$black: #2c2c2c;
$white: #fafafa;
$ice: #effdf3;