@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/baseStyles";
@import "./partials/header";
@import "./partials/nav";
@import "./partials/sections";
@import "./partials/footer";
@import "./partials/blogHeader";
@import "./partials/blogMain";
@import "./partials/blogLeft";
@import "./partials/blogRight";
@import "./partials/form";
@import "./partials/contact";
@import "./partials/mediaQueries";