html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
html {
  font-size: 125%;
}

body {
  font-family: "Roboto";
  background-color: #effdf3;
}

h1, h2, h3, h4, .headingFont {
  font-family: "PlayfairDisplay";
  font-weight: bold;
  font-style: italic;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 6.5rem;
  text-align: center;
  padding-top: 150px;
  position: absolute;
  left: 20%;
  z-index: 10;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.readMore,
.findOutMore {
  background-color: #4ceea7;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: italic;
  padding: 18px 36px;
}
.readMore:hover, .readMore:focus,
.findOutMore:hover,
.findOutMore:focus {
  background-color: #fafafa;
  color: #4ceea7;
  border: 1px solid #4ceea7;
}

button {
  background-color: #4ceea7;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  padding: 18px 36px;
}
button:hover, button:focus {
  background-color: #fafafa;
  color: #4ceea7;
  border: 1px solid #4ceea7;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

header {
  background-image: url("../assets/header-image.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.headerBoxImg {
  width: 50%;
  min-height: 100vh;
  border-left: 20px solid #fdfa69;
  border-top: 40px solid #fdfa69;
  border-bottom: 40px solid #fdfa69;
  background-image: url("../assets/header-box-image.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
}

.navigation .headingFont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 50%;
  margin: 30px 0 200px;
}

.navBar a {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 29px;
  text-align: center;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 500px 0;
}

.script {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 300px 0 100px;
}

.unlockYourSkills,
.gettingNewGear {
  background-color: #fafafa;
}

.unlockYourSkills .wrapper,
.gettingNewGear .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textContainer {
  width: 46%;
  padding: 20px 10px;
  border: 2px solid green;
}

.emptyImg {
  width: 46%;
  height: 18.75vw;
  background-color: #fafafa;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid red;
}

.leftImg {
  background-image: url("../assets/left-image.jpg");
  -webkit-box-shadow: 20px 10px #fdfa69;
          box-shadow: 20px 10px #fdfa69;
}

.rightImg {
  background-image: url("../assets/right-image.jpg");
  -webkit-box-shadow: -20px 10px #fdfa69;
          box-shadow: -20px 10px #fdfa69;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}